<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>SENA</title>
</head>
<body>
    <div class="content-header">
        <%- include('../partials/header-admin') %> 
        <link rel="stylesheet" href="css/almuerzo.css">
    </div>
    <div class="main-contenedor">
        <section class="body-info-section">
            <div class="contnet-section-info" style="min-height: 50vh;">
                <div class="full-container">
                    <h1 class="h-title">Panel de Administración - Gastronomia</h1>
                    <hr class="separador-text">
                    <div class="row contenedor-almuerzo">
                        <div class="col-md-4">
                            <div class="imagen"><img src="img/gastronomia/plato.jpg"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="nombre"><h3 id="nombre-pdto">Producto</h3></div>
                            <div class="descripcion" id="desc-pdto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, nihil!</div>
                            <div class="precio"><span id="precio-pdto">$ 2.500</span></div>
                            <div class="btn-reservar"><button class="btn btn-primary">Reservar</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts.ejs') %> 
    <script>
        fetch('/gastronomia/listar', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer '+ token,
            }
        }).then(res=>res.json())
        .then(res => {
            if(res.status == 401) return console.log(res)
            let data = res[0];
            document.getElementById('nombre-pdto').innerHTML = data.Nombre
            document.getElementById('desc-pdto').innerHTML = data.Descripcion;
            document.getElementById('precio-pdto').innerHTML = '$ '+data.precio;
            console.log(res)
        })
    </script>
</body>
</html>
 

